<!DOCTYPE html>
<html>
<head>
    <title>PicShare Gallery</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>PicShare Gallery</h1>
    <a href="/upload">Upload a New Photo</a>
    <div class="gallery">
        <% photos.forEach(photo => { %>
            <div class="photo">
                <img src="<%= photo.imageUrl %>" alt="<%= photo.title %>">
                <h2><%= photo.title %></h2>
                <p><%= photo.description %></p>
            </div>
        <% }) %>
    </div>
</body>
</html>